#circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1em solid black;
    text-align: center;
    animation: color 5s infinite;
}

@keyframes color {

    0% {
        background-color: red;
    }

    20% {
        background-color: blue;
    }

    40% {
        background-color: green;
    }

    60% {
        background-color: yellow;
    }

    80% {
        background-color: aqua;
    }

    100% {
        background-color: orangered;
    }

}